/*===================================
==============div====================
====================================*/

.all-appointments {
  padding: 0 10%;
  margin-top: 2%;
}

.item-appointment {
  display: flex;
  width: 100%;
}

/*===================================
==============Table==================
====================================*/

th {
  text-align: center;
  background: #C4C4C4;
}

.table-scroll {
  height: 60vh;
  overflow: auto;
  margin-top: 20px;
}

.table-scroll::-webkit-scrollbar {
  width: 0;
}

/*===================================
==============Button=================
====================================*/

.btns {
  width: 7vw;
}

/*===================================
==============Modal=================
====================================*/

.opened-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: #fff;
  border-radius: 3px;
}

.modal-appBar.MuiAppBar-root {
  width: 50vw;
}

.modal-header {
  text-decoration: none;
  border: none;
}

@media screen and (max-width: 800px) {
  .all-appointments {
    padding: 0 5%;
  }
}

