.entry-field {
  width: 30%;
  height: 100%;
  background: #FFF;
  border-radius: 4px;
}

@media screen and (max-width: 1300px) {
  .entry-field {
    width: 40%;
  }
}

@media screen and (max-width: 1150px) {
  .entry-field {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .entry-field {
    width: 60%;
  }
}

@media screen and (max-width: 690px) {
  .entry-field {
    width: 100%;
  }
}
