.wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 5% 10%;
}

.logo-wrapper {
  margin: 5% 10% 0;
  height: 375px;
  width: 375px;
}

@media screen and (max-width: 1100px) {
  .logo-wrapper {
    height: 350px;
    width: 350px;
    margin: 5% 10% 0 7%;
  }
}

@media screen and (max-width: 1000px) {
  .logo-wrapper {
    height: 330px;
    width: 330px;
    margin: 5% 10% 0 7%;
  }

  .wrapper {
    padding: 5% 7%;
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    padding: 5% 5%;
  }

  .logo-wrapper {
    margin-left: 5%;
  }
}

@media screen and (max-width: 840px) {
  .wrapper {
    padding: 5% 5%;
  }

  .logo-wrapper {
    margin-left: 3%;
  }
}

@media screen and (max-width: 770px) {
  .wrapper {
    padding: 5% 3%;
  }

  .logo-wrapper {
    margin-left: 2%;
  }
}

@media screen and (max-width: 740px) {
  .logo-wrapper {
    height: 280px;
    width: 280px;
  }
}

@media screen and (max-width: 690px) {
  .logo-wrapper {
    display: none;
    margin: 0;
  }

  .wrapper {
    width: 100%;
  }
}
