/*===================================
==============Input=================
====================================*/
.main {
  width: 100%;
}

div.MuiTextField-root {
  border-radius: 4px;
}

.input-field {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10%;
  margin-top: 3%;
}

.item-input {
  width: 24%;
  margin-left: 0.7vw;
}

.input .MuiOutlinedInput-input {
  padding: 3.5% 5%;
}

.input.MuiTextField-root {
  width: 100%;
  background-color: #fff;
}

/*===================================
==============Button=================
====================================*/

.free-space {
  height: 100%;
}

.add-btn.MuiButton-root {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
  background: #fff;
  margin-left: 1vw;
  justify-content: flex-end;
  padding: 10% 5%;
}

.accordion-btn.MuiButton-root {
  display: none;
}

/*===================================
==============MediaScreen============
====================================*/

@media screen and (max-width: 1200px) {
  .add-btn.MuiButton-root {
    padding: 8% 5%;
  }

}

@media screen and (max-width: 1000px) {

  .input-date .MuiOutlinedInput-input {
    font-size: 16px;
  }

  .add-btn.MuiButton-root {
    padding: 7% 5%;
  }
}

@media screen and (max-width: 900px) {

  .input-date .MuiOutlinedInput-input {
    font-size: 14px;
  }

  .add-btn.MuiButton-root {
    padding: 6% 5%;
  }
}

@media screen and (max-width: 800px) {

  .accordion-mode {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin-top: 3%;
  }

  .input-field {
    display: none;
  }

  .item-input {
    width: 100%;
    margin-left: 0.7vw;
  }

  .input-date .MuiOutlinedInput-input {
    font-size: 18px;
  }

  .input .MuiOutlinedInput-input {
    padding: 2% 0;
  }

  .add-btn.MuiButton-root {
    margin: 20px 0 0;
    width: 40vw;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }

  .input-text {
    margin: 10px 0 5px 0;
  }

  .input-field {
    padding: 0 5%;
  }

  .accordion-btn.MuiButton-root {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .add-btn-div {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .input-date .MuiOutlinedInput-input {
    font-size: 16px;
  }
}