.dialog {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}

#form-dialog-title .MuiTypography-h6 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
}

.delete-btn.MuiButton-root {
  background: rgba(197, 233, 255, 0.7);
  width: 7vw;
  height: 5vh;
  margin-right: 15px;
}

.cancel-btn.MuiButton-root {
  width: 7vw;
  height: 5vh;
  margin-right: 5px;
}

.delete-btn.MuiButton-root:hover {
  background: rgba(197, 233, 255, 1);
}

p.text {
  width: 100%;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 400px) {

  .cancel-btn.MuiButton-root {
    width: 12vw;
    height: 5.5vh;
  }

  .delete-btn.MuiButton-root {
    width: 12vw;
    height: 5.5vh;
  }

  p.text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 350px) {

  #form-dialog-title .MuiTypography-h6 {
    font-size: 30px;
  }
}